#**
 *  Provide elements for the <head> section of the HTML document
 *#

  <title>Solr browse: #core_name</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

  <link rel="icon" type="image/x-icon" href="#{url_root}/img/favicon.ico"/>
  <link rel="shortcut icon" type="image/x-icon" href="#{url_root}/img/favicon.ico"/>

  <script type="text/javascript" src="#{url_root}/libs/jquery-1.7.2.min.js"></script>

  <style>
    #admin{
      text-align: right;
      vertical-align: top;
    }

    #head{
      text-align: right;
      vertical-align: top;
    }

    .parsed_query_header {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 10pt;
      font-weight: bold;
    }

    .parsed_query {
      font-family: Courier, Courier New, monospaced;
      font-size: 10pt;
      font-weight: normal;
    }

    body {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 10pt;
    }

    a {
      color: #305CB3;
    }

    em {
      color: #FF833D;
    }

    .facets {
      float: left;
      margin: 5px;
      margin-top: 0px;
      width: 185px;
      padding: 5px;
      top: -20px;
      position: relative;
    }

    .facets h2 {
      background: #141B4D;
      color: #FFFFFF;
      padding: 2px 5px;
    }

    .facets ul {
      list-style: none;
      margin: 0;
      margin-bottom: 5px;
      margin-top: 5px;
      padding-left: 10px;
    }

    .facets ul li {
      color: #999;
      padding: 2px;
    }

    .facet-field {
      font-weight: bold;
    }

    .field-name {
      font-weight: bold;
      // align="right" valign="top"
    }

    .highlighted-facet-field {
      background: white;
    }

    .constraints {
      font-size: 24px;
      margin-top: 10px;
    }

    #query-form{
      width: 100%;
    }

    .query-box, {
      padding: 5px;
      margin: 5px;
      font-weight: normal;
      font-size: 24px;
      letter-spacing: 0.08em;
    }

    .query-box #q {
      margin-left: 8px;
      width: 60%;
      height: 50px;
      border: 1px solid #999;
      font-size: 1em;
      padding: 0.4em;
    }

    .query-box {

    }

    .query-box .inputs{
      left: 180px;
      position: relative;

    }

    #logo {
      width: 115px;
      margin: 0px 0px 20px 12px;
      border-style: none;
    }

    .pagination {
      padding-left: 33%;
      background: #eee;
      margin: 5px;
      margin-left: 210px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .result-document {
      border: 1px solid #999;
      padding: 5px;
      margin: 5px;
      margin-left: 210px;
      margin-bottom: 15px;
    }

    .result-document div{
      padding: 5px;
    }

    .result-title{
      width:60%;
    }

    .result-body{
      background: #ddd;
    }

    .mlt{

    }

    .result-document:nth-child(2n+1) {
      background-color: #eee;
    }


    .selected-facet-field {
      font-weight: bold;
    }

    li.show {
      list-style: disc;
    }

    .error {
      color: white;
      background-color: red;
      left: 210px;
      width:80%;
      position: relative;

    }

    /*******************************
      Download related button
     *******************************/
    .btn {
      background-color: #141B4D;
      border: none;
      color: white;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 15px;
    }

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }

    /*******************************
      Modal related settings
     *******************************/
    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    li{
        padding-left: 0;
        list-style-type: none;
        border-top: 1px solid black;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    .Fixed
    {
        position: fixed;
        top: 20px;
    }
    .inline-block-child {
      display: inline-block;
    }

</style>
  <script>
      $(document).ready(function(){
        $("\#q").autocomplete('#{url_for_solr}/terms', {  ## backslash escaped #q as that is a macro defined in VM_global_library.vm
            extraParams:{
              'terms.prefix': function() { return $("\#q").val();},
              'terms.sort': 'count',
              'terms.fl': 'name',
              'wt': 'velocity',
              'v.template': 'suggest'
            }
          }
        ).keydown(function(e){
          if (e.keyCode === 13){
            $("#query-form").trigger('submit');
          }
        });

        // http://localhost:8983/solr/collection1/terms?terms.fl=name&terms.prefix=i&terms.sort=count&wt=velocity&v.template=suggest
      });

      </script>